@import "tailwindcss";
/* for the csv file data */
.centerTitle {
    text-align: center;
    vertical-align: middle;
    font-size: 40px;
    }
.center {
    text-align: center;
    vertical-align: middle;
    font-size: 20px;
    }

.dataButton{
    text-align: right;
    vertical-align: middle;
    font-size: 20px;
    float: right;
}
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
